body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

.table-bordered td, .table-bordered th {
  border: 0px;
}

td, th, tr, .plus-minus{
  vertical-align: middle;
}

#finalizar{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px){
#arrow{
    background-image: url(https://www.flaticon.es/svg/static/icons/svg/591/591855.svg) ;
    background-repeat: no-repeat; 
    background-size: 5vw ;
}
}